In [1]:
import pandas as pd
import numpy
import json
import string

In [2]:
path_name = "../../synthetic_data/data/final_train_labels.json"
with open(path_name) as f:
    data = json.load(f)

In [3]:
y = [item[0] for item in data]
x = [item[1] for item in data]

In [4]:
colors = [
"BG", "BEIGE",
"BK", "BLACK", "BLCK", "BLK",
"BL", "BLUE", "BLU",
"BN", "BROWN", "BRWN",
"BZ", "BRONZE", "BRNZ",
"CH", "CHARCOAL", "CHRCL",
"CL", "CLEAR", "CLR",
"DK", "DARK", "DRK"
"GD", "GOLD", "GLD",
"GN", "GREEN", "GRN",
"GY", "GRAY", "GRY",
"GT", "GRANITE", "GRNT",
"LT", "LIGHT", "LGHT",
"OR", "ORANGE", "ORNG",
"PK", "PINK", "PNK",
"RD", "RED",
"TL", "TRANSLUCENT", "TRNSLCNT",
"TN", "TAN",
"TP", "TRANSPARENT", "TRNSPRNT",
"VT", "VIOLET", "VLT"
"WT", "WHITE", "WHT"
"YL", "YELLOW", "YLLW", "YLW"]

In [5]:
def num_vowels(x):
    num_vowels=0
    for char in x:
        if char in "aeiouAEIOU":
            num_vowels += 1
    return int(num_vowels)

In [6]:
def num_words(x):
    return int(len(x.split()))

In [7]:
def num_chars(x):
    return int(len(x))

In [8]:
def num_digits(x):
    num_digits=0
    for char in x:
        if char.isnumeric():
            num_digits += 1
    return int(num_digits)

In [9]:
def num_symbols(x):
    num_symbols=0
    for char in x:
        if not char.isnumeric() and not char.isspace() and not char.isalpha():
            num_symbols += 1
    return int(num_symbols)

In [10]:
def num_letters(x, letter):
    num_letters=0
    for char in x:
        if char == letter:
            num_letters += 1
    return int(num_letters)

In [11]:
def is_plural(x):
    if x[len(x) - 1] == 'S':
        return 1
    return 0

In [12]:
def has_char_repeat(x):
    for i in range(1, len(x) - 1):
        if x[i - 1] == x[i]:
            return 1
    return 0

In [13]:
def has_color(x):
    words = x.split()
    for word in words:
        if word in colors:
            return 1
    return 0

In [14]:
df = pd.DataFrame(data={"x":x, "y":y})
df.head()

                      x                               y
0  MXCN SHRDDD CHS BLND   MEXICAN SHREDDED CHEESE BLEND
1         VGTBL SHRTNNG            VEGETABLE SHORTENING
2                   SQD                           SQUID
3   SLCD MNZNLL LVS SLD  SLICED MANZANILLA OLIVES SALAD
4  PNPPL CHNKS TS WN JC  PINEAPPLE CHUNKS ITS OWN JUICE

In [15]:
df["num_vowels"] = df.apply(lambda row: num_vowels(row.x), axis=1)

In [16]:
df["num_words"] = df.apply(lambda row: num_words(row.x), axis=1)

In [17]:
df["num_chars"] = df.apply(lambda row: num_chars(row.x), axis=1)

In [18]:
df["num_digits"] = df.apply(lambda row: num_digits(row.x), axis=1)

In [19]:
df["num_symbols"] = df.apply(lambda row: num_symbols(row.x), axis=1)

In [20]:
%%time
for letter in string.ascii_uppercase:
    df["num_" + letter] = df.apply(lambda row: num_letters(row.x, letter), axis=1)

Wall time: 3min 2s

In [21]:
df["is_plural"] = df.apply(lambda row: is_plural(row.x), axis=1)

In [22]:
df["has_char_repeat"] = df.apply(lambda row: has_char_repeat(row.x), axis=1)

In [23]:
df["has_color"] = df.apply(lambda row: has_color(row.x), axis=1)

In [24]:
df.head(10)

,x,y,num_vowels,num_words,num_chars,num_digits,num_symbols,num_A,num_B,num_C,...,num_T,num_U,num_V,num_W,num_X,num_Y,num_Z,is_plural,has_char_repeat,has_color
0,MXCN SHRDDD CHS BLND,MEXICAN SHREDDED CHEESE BLEND,0,4,20,0,0,0,1,2,...,0,0,0,0,1,0,0,0,1,0
1,VGTBL SHRTNNG,VEGETABLE SHORTENING,0,2,13,0,0,0,1,0,...,2,0,1,0,0,0,0,0,1,0
2,SQD,SQUID,0,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SLCD MNZNLL LVS SLD,SLICED MANZANILLA OLIVES SALAD,0,4,19,0,0,0,0,1,...,0,0,1,0,0,0,1,0,1,0
4,PNPPL CHNKS TS WN JC,PINEAPPLE CHUNKS ITS OWN JUICE,0,5,20,0,0,0,0,2,...,1,0,0,1,0,0,0,0,1,0
5,TLN STYL MTBLLS,ITALIAN STYLE MEATBALLS,0,3,15,0,0,0,1,0,...,3,0,0,0,0,1,0,1,1,0
6,YGRT RSNS SNCKS,YOGURT RAISINS SNACKS,0,3,15,0,0,0,0,1,...,1,0,0,0,0,1,0,1,0,0
7,BJ BLND SSND SWT CRN WTH RD ND GRN PPPR,BAJA BLEND SEASONED SWEET CORN WITH RED AND GR...,0,10,39,0,0,0,2,1,...,2,0,0,2,0,0,0,0,1,1
8,SWRL CRNCH SWTND WHL WHT ND RC CRL,SWIRL CRUNCH SWEETEND WHOLE WHEAT AND RICE CEREAL,0,8,34,0,0,0,0,4,...,2,0,0,4,0,0,0,0,0,0
9,PRSCTT CTT WTH HRBS FLLY CKD HM,PROSCIUTTO COTTO WITH HERBS FULLY COOKED HAM,0,7,31,0,0,0,1,3,...,5,0,0,1,0,1,0,0,1,0

In [25]:
len(df.columns.values)

36

In [26]:
len(df)

528610

In [31]:
df.to_csv("featured_df.csv", index=False, encoding="utf-8")